{%extends "layout.html"%}

{% block title %}
<title>Analiza konta - Strona główna</title>
{% endblock %}

{%block content%}

<div class="home">
    <h1>Analiza konta</h1>
    <p>Co chcesz zrobić?</p>
</div>
</br>

<div class = "content">
    
    <div class = "form_group">
            <form action="", method = "POST">
                <button type="submit" class="button1" name = "selection1", value = "AddNew">Dodaj nowe dane</button>
            </form>  
            <form action="", method = "POST">
                <button type="submit" class="button1" name = "selection1", value = "Read">Odczytaj wyniki</button>
            </form>   
        </ul>   
    </div>

                  
</div>
{%endblock%}


